@import "./variables";
@import "./vendor";

html, body {
    height: 100%;
}
body {
    padding: 50px 0 0 0;
}

.navmenu {
    padding-top: 50px;
}

.navbar {
    display: block;
    text-align: center;
}
.navbar-brand {
    display: inline-block;
    float: none;
}
.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%;
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0 0 0 $navmenu-width;
    }
    .navmenu {
        padding-top: 0;
    }
    .navbar {
        display: none !important; /* IE8 fix */
    }
}

.navmenu-inverse,
.navbar-inverse .navbar-offcanvas {
    .navmenu-brand {
        color: $navmenu-inverse-brand-hover-color;
        &:hover,
        &:focus {
            background-color: $navmenu-inverse-bg;
        }
    }
}

.container-centering {
    display: table;
    padding: 0;
    width: 100%;
}

.row-centering {
}

.centering {
    float: none;
    width: 300px;
    margin: 0 auto;
}
@media (max-width: $screen-xs) {
    .centering {
        width: 100%;
    }
}


.summary-container {
    text.c3-text, tspan {
        fill: #000 !important;
        font-size: $font-size-base;
    }

    .domain, .tick > line {
        visibility: hidden;
    }
}

.sectionHeading {
//    color: #08519c;
}
